# –ö–µ–π—Å 2. –ü–æ–∏—Å–∫ –∞–Ω–æ–º–∞–ª–∏–π –≤ –¥–∞–Ω–Ω—ã—Ö —Å –¥–æ—Ä–æ–∂–Ω–æ–π –∏–Ω—Ñ—Ä–∞—Å—Ç—Ä—É–∫—Ç—É—Ä—ã

–î–æ—Ä–æ–∂–Ω–æ-—Ç—Ä–∞–Ω—Å–ø–æ—Ä—Ç–Ω–∞—è –∏–Ω—Ñ—Ä–∞—Å—Ç—Ä—É–∫—Ç—É—Ä–∞ –≤–∫–ª—é—á–∞–µ—Ç –≤ —Å–µ–±—è –æ–≥—Ä–æ–º–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç–∞–Ω—Ü–∏–π,  –∫–æ—Ç–æ—Ä—ã–µ —Ñ–∏–∫—Å–∏—Ä—É—é—Ç –±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–π, —Ç–∞–∫–∏—Ö –∫–∞–∫: —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –¥–æ—Ä–æ–∂–Ω–æ–≥–æ –ø–æ–∫—Ä—ã—Ç–∏—è, —Å–∫–æ—Ä–æ—Å—Ç—å –≤–µ—Ç—Ä–∞, –Ω–∞–ª–∏—á–∏–µ —Ç—É–º–∞–Ω–∞ –∏ –¥—Ä—É–≥–∏–µ —É—Å–ª–æ–≤–∏—è –Ω–∞ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã—Ö –¥–æ—Ä–æ–∂–Ω—ã—Ö —É—á–∞—Å—Ç–∫–∞—Ö. –ó–∞—á–∞—Å—Ç—É—é –æ–±–æ—Ä—É–¥–æ–≤–∞–Ω–∏–µ (–¥–∞—Ç—á–∏–∫–∏) —ç—Ç–∏—Ö —Å—Ç–∞–Ω—Ü–∏–π –º–æ–≥—É—Ç –ø–µ—Ä–µ–¥–∞–≤–∞—Ç—å –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞ —Å–µ—Ä–≤–µ—Ä –≤ —Å–≤—è–∑–∏ —Å –≤—ã—Ö–æ–¥–æ–º —ç—Ç–∏—Ö –∫–æ–º–ø–æ–Ω–µ–Ω—Ç–æ–≤ –∏–∑ —Å—Ç—Ä–æ—è. –î–ª—è –±—Ä–∏–≥–∞–¥, –∫–æ—Ç–æ—Ä—ã–µ –æ–±—Å–ª—É–∂–∏–≤–∞—é—Ç –¥–∞–Ω–Ω—ã–µ –¥–æ—Ä–æ–∂–Ω–æ-—Ç—Ä–∞–Ω—Å–ø–æ—Ä—Ç–Ω—ã–µ –æ–±—ä–µ–∫—Ç—ã –æ—á–µ–Ω—å –≤–∞–∂–Ω–æ —Å–≤–æ–µ–≤—Ä–µ–º–µ–Ω–Ω–æ –æ–ø—Ä–µ–¥–µ–ª—è—Ç—å –≤—ã—Ö–æ–¥ –∏–∑ —Å—Ç—Ä–æ—è –∫–æ–º–ø–æ–Ω–µ–Ω—Ç–æ–≤ (–¥–∞—Ç—á–∏–∫–æ–≤) –¥–æ—Ä–æ–∂–Ω—ã—Ö —Å—Ç–∞–Ω—Ü–∏–π –∏ –ø—Ä–æ–≤–æ–¥–∏—Ç—å –∏—Ö —Ä–µ–º–æ–Ω—Ç –∏ –¥–∏–∞–≥–Ω–æ—Å—Ç–∏–∫—É. 

–í–∞–º –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç –Ω–∞–ø–∏—Å–∞—Ç—å –∞–ª–≥–æ—Ä–∏—Ç–º –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä—ã–π —Å–º–æ–∂–µ—Ç –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –ø–∞–∫–µ—Ç—ã –¥–∞–Ω–Ω—ã—Ö —Å—Ç–∞–Ω—Ü–∏–∏ –∑–∞ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã–π –ø—Ä–æ–º–µ–∂—É—Ç–æ–∫ –∏ –Ω–∞–π—Ç–∏ –≤ —ç—Ç–∏—Ö –¥–∞–Ω–Ω—ã—Ö –∞–Ω–æ–º–∞–ª–∏–∏. 

üìå –í–∞–∂–Ω–æ: –≤ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –ø–∞–∫–µ—Ç–∞—Ö –º–æ–∂–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å—Å—è –∑–Ω–∞—á–µ–Ω–∏–µ null –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–≥–æ –¥–∞—Ç—á–∏–∫–∞. –¢–∞–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è —Ç–∞–∫–∂–µ —Å—á–∏—Ç–∞—é—Ç—Å—è –∞–Ω–æ–º–∞–ª—å–Ω—ã–º–∏, —Ç–∞–∫ –∫–∞–∫ —Å–∏–≥–Ω–∞–ª–∏–∑–∏—Ä—É—é—Ç –æ–± –æ—à–∏–±–∫–µ –æ–±–æ—Ä—É–¥–æ–≤–∞–Ω–∏—è

üè° –î–∞–Ω–Ω—ã–π –∫–µ–π—Å –≤–µ–¥—ë—Ç—Å—è –≤ Kaggle, —Ç–∞–º –≤—ã —Å–º–æ–∂–µ—Ç–µ —Å–∫–∞—á–∞—Ç—å (https://www.kaggle.com/competitions/misis-hack/overview) –¥–∞—Ç–∞—Å–µ—Ç, –æ—Ç–ø—Ä–∞–≤–∏—Ç—å —Ä–µ—à–µ–Ω–∏–µ —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –≤—ã—Å—Ç–∞–≤–ª–µ–Ω–∏—è –±–∞–ª–ª–æ–≤.

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö: 
- configuration_item_id ‚Äî ID –¥–æ—Ä–æ–∂–Ω–æ–π —Å—Ç–∞–Ω—Ü–∏–∏
- ts ‚Äî –≤—Ä–µ–º—è –æ—Ç–ø—Ä–∞–≤–∫–∏ –ø–∞–∫–µ—Ç–∞ –¥–∞–Ω–Ω—ã—Ö —Å—Ç–∞–Ω—Ü–∏–µ–π
- __insert_ts ‚Äî –≤—Ä–µ–º—è –¥–æ–±–∞–≤–ª–µ–Ω–∏—è –ø–∞–∫–µ—Ç–∞ –≤ –±–¥
- keys -  –º–∞—Å—Å–∏–≤ —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º –∫–æ–º–ø–æ–Ω–µ–Ω—Ç–∞
- values ‚Äî –∏ –º–∞—Å—Å–∏–≤ —Å –µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏–µ–º

In [1]:
import os
import ast
import pandas as pd
import numpy as np


curr_dir = "case_2"
if os.getcwd().split("/")[-1] != curr_dir:
    os.chdir(curr_dir)

In [2]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

print(train_df["keys"].unique(), test_df["keys"].unique(), sep="\n")

def convert_to_float(values):
    return [float(x) if x != 'null' else None for x in values]

def prepare_df(df):
    for k in ["keys", "values"]:
        df[k] = df[k].apply(lambda i: ast.literal_eval(i)[0])

    df['values'] = df['values'].apply(convert_to_float)
    df['ts'] = pd.to_datetime(df['ts'])
    
    expanded_df = pd.concat([pd.DataFrame([row['values']], columns=row['keys']) for _, row in df.iterrows()])
    expanded_df.reset_index(drop=True, inplace=True)
    df = pd.concat([df, expanded_df], axis=1)
    df.drop(columns=['keys', 'values', '__insert_ts'], inplace=True)
    df_sorted = df.sort_values(by=['configuration_item_id', 'ts']).reset_index(drop=True)
    
    return df_sorted

["[['meteo_layer_type', 'meteo_cloudiness', 'meteo_wind_velocity', 'meteo_humidity', 'meteo_t_underroad', 'meteo_freezing_point', 'meteo_wind_direction', 'meteo_dew_point', 'meteo_t_road', 'meteo_wind_gusts', 'meteo_t_air', 'meteo_air_pressure']]"]
["[['meteo_layer_type', 'meteo_cloudiness', 'meteo_wind_velocity', 'meteo_humidity', 'meteo_t_underroad', 'meteo_freezing_point', 'meteo_wind_direction', 'meteo_dew_point', 'meteo_t_road', 'meteo_wind_gusts', 'meteo_t_air', 'meteo_air_pressure']]"]

In [3]:
all_df = pd.concat([train_df, test_df])
all_df.reset_index(drop=True, inplace=True)
all_df = prepare_df(all_df)

all_features = [k for k in all_df.columns if k.startswith("meteo")]

In [4]:
all_df[all_df.duplicated()]

Empty DataFrame
Columns: [id, configuration_item_id, ts, meteo_layer_type, meteo_cloudiness, meteo_wind_velocity, meteo_humidity, meteo_t_underroad, meteo_freezing_point, meteo_wind_direction, meteo_dew_point, meteo_t_road, meteo_wind_gusts, meteo_t_air, meteo_air_pressure]
Index: []

In [5]:
all_df.configuration_item_id.unique()

array([24445, 30928])

In [6]:
config_df = all_df[all_df.configuration_item_id == all_df.configuration_item_id.unique()[0]]
config_df.describe()

                id  configuration_item_id  ...  meteo_t_air  meteo_air_pressure
count  1021.000000                 1021.0  ...       1021.0         1021.000000
mean   2261.000000                24445.0  ...          0.0          748.401567
std     294.881615                    0.0  ...          0.0            4.301545
min    1751.000000                24445.0  ...          0.0          739.000000
25%    2006.000000                24445.0  ...          0.0          745.000000
50%    2261.000000                24445.0  ...          0.0          748.000000
75%    2516.000000                24445.0  ...          0.0          751.000000
max    2771.000000                24445.0  ...          0.0          762.000000

[8 rows x 14 columns]

In [7]:
config_df.corr(numeric_only=True)

                             id  ...  meteo_air_pressure
id                     1.000000  ...           -0.664825
configuration_item_id       NaN  ...                 NaN
meteo_layer_type       0.119709  ...           -0.215097
meteo_cloudiness       0.138673  ...           -0.159041
meteo_wind_velocity    0.054226  ...           -0.033956
meteo_humidity         0.368372  ...           -0.461103
meteo_t_underroad      0.335213  ...           -0.247346
meteo_freezing_point  -0.011297  ...            0.026114
meteo_wind_direction   0.258273  ...           -0.161325
meteo_dew_point        0.370233  ...           -0.471409
meteo_t_road           0.273399  ...           -0.171251
meteo_wind_gusts       0.070746  ...           -0.074703
meteo_t_air                 NaN  ...                 NaN
meteo_air_pressure    -0.664825  ...            1.000000

[14 rows x 14 columns]

In [8]:
from itertools import combinations

feature_combinations = list(combinations(all_features, 2))

correlation_results = []

for feat1, feat2 in feature_combinations:
    correlation = config_df[feat1].corr(config_df[feat2])
    correlation_results.append((feat1, feat2, correlation))

correlation_df = pd.DataFrame(correlation_results, columns=['Feature1', 'Feature2', 'Correlation']).sort_values(by='Correlation', ascending=False)
print("Correlation of each feature with every other two features:")
print(correlation_df[correlation_df.Correlation.abs() > 0.5])

Correlation of each feature with every other two features:
               Feature1          Feature2  Correlation
33       meteo_humidity   meteo_dew_point     0.985655
41    meteo_t_underroad      meteo_t_road     0.954348
27  meteo_wind_velocity  meteo_wind_gusts     0.876701
34       meteo_humidity      meteo_t_road    -0.580395
56      meteo_dew_point      meteo_t_road    -0.582871

In [9]:
def calculate_ema(data, alpha):
    """
    Calculate Exponential Moving Average (EMA) of a given data series.

    Parameters:
    - data (array-like): The input time series data.
    - alpha (float): Smoothing factor, between 0 and 1.

    Returns:
    - ema (ndarray): EMA values of the input data.
    """
    ema = np.zeros_like(data)
    ema[0] = next(item for item in data if not np.isnan(item))
    for i in range(1, len(data)):
        ema[i] = alpha * data[i] + (1 - alpha) * ema[i-1]
    return ema

def detect_anomalies_ema(time_series_data, alpha, n_std):
    """
    Detect anomalies in a time series using Exponential Moving Average (EMA).

    Anomalies are detected based on residuals (difference between data and EMA)
    exceeding a threshold number of standard deviations.

    Parameters:
    - time_series_data (array-like): The input time series data.
    - alpha (float): Smoothing factor for EMA, between 0 and 1.
    - n_std (float): Number of standard deviations for anomaly detection.

    Returns:
    - anomalies (ndarray of bool): Boolean array indicating anomalies.
    """
    ema = calculate_ema(time_series_data, alpha)
    residuals = time_series_data - ema
    std_dev = np.nanstd(residuals)  # standard deviation of residuals, ignoring NaNs
    
    anomalies = np.zeros_like(time_series_data, dtype=bool).astype(int)
    
    for i in range(len(time_series_data)):
        if np.isnan(time_series_data[i]) or np.abs(residuals[i]) > n_std * std_dev:
            anomalies[i] = 1
    
    return anomalies

alpha = 0.003  # smoothing factor
n_std = 3.44  # number of standard deviations for anomaly detection

all_anomalies = {}
config_ids = all_df.configuration_item_id.unique()

for config_id in config_ids:
    all_anomalies[config_id] = {}
    config_df = all_df[all_df.configuration_item_id == config_id]
    
    for feature in all_features:
        time_series_data = config_df[feature].values
        anomalies = detect_anomalies_ema(time_series_data, alpha, n_std)
        all_anomalies[config_id][feature] = anomalies

In [10]:
test_df = pd.read_csv("data/test.csv")
answers = []

for i, row in test_df.iterrows():
    config_id = row.configuration_item_id
    config_data = all_df[all_df.configuration_item_id == config_id]
    config_data.reset_index(drop=True, inplace=True)
    anomalies_ = list(zip(*all_anomalies[config_id].values()))
    id_in_anomalies = config_data[config_data.id == row.id].index[0]
    answers.append(list(anomalies_[id_in_anomalies]))
    
result_df = pd.DataFrame({"id": test_df.id.values.tolist(), 
                          "target": answers})
result_df.to_csv("case2.csv", index=False)

In [11]:
files = [pd.read_csv(name) for name in ["case_f.csv", "case2.csv"]]

for file in files:
    file["target"] = file["target"].apply(ast.literal_eval)

for i, (t1, t2) in enumerate(zip(files[0].target, files[1].target)):
    for f in range(len(t1)):
        if t1[f] != t2[f]:
            print(files[0].id.iloc[i], f, t1[f], t2[f])